@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

// SPIN ANIMATION
@include keyframes(spin) {
  0%   { -webkit-transform: rotate(0deg);}
  100% { -webkit-transform: rotate(360deg);}
}

// @@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@

.glyphicon-refresh-animate {
    animation: spin .7s ease infinite;
}