p.text-title {
  font-family: "sf_display_bold";
  color: white;
  text-shadow: 1px 1px #000;
  font-size: $text-title-fontSize-xs;
  line-height: $text-title-lineHeight-xs;
  @include respond-to(small)  {
    font-size: $text-title-fontSize-sm;
    line-height: $text-title-lineHeight-sm;
    text-shadow: 2px 2px #000;
  }
  @include respond-to(medium) {
    font-size: $text-title-fontSize-md;
    line-height: $text-title-lineHeight-md;
  }
  @include respond-to(large)  {
    font-size: $text-title-fontSize-lg;
    line-height: $text-title-lineHeight-lg;
  }
}

p.text-helper {
  color: white;
  font-family: "sf_display_regular";
  font-size: 12px;
  @include respond-to(small)  { font-size: em(14); }
  @include respond-to(medium) { font-size: em(16); }
  @include respond-to(large)  { font-size: em(18); }
}

.setup-helper {
  color: white;
  font-family: "sf_display_regular";
  font-size: 12px;
  @include respond-to(small)  { font-size: em(14); }
  @include respond-to(medium) { font-size: em(16); }
  @include respond-to(large)  { font-size: em(18); }
}

.text-bold {
  font-size: em(16);
  color: white;
  font-family: "sf_display_bold";
  @include respond-to(small)  { font-size: em(18); }
  @include respond-to(medium) { font-size: em(18); }
  @include respond-to(large)  { font-size: em(20); }
}

.text-list-title {
  font-family: "sf_display_semibold";
  font-size: em(16);
  color: white;
  @include respond-to(small)  { font-size: em(16); }
  @include respond-to(medium) { font-size: em(20); }
  @include respond-to(large)  { font-size: em(20); }
}

.text-list {
  font-size: em(16);
  color: white;
  @include respond-to(small)  { font-size: em(16); }
  @include respond-to(medium) { font-size: em(20); }
  @include respond-to(large)  { font-size: em(20); }
}

.text-list-title { font-family: "sf_display_semibold"; }
.text-list-description { font-family: "sf_display_light"; font-size: em(9) }
.text-list-button { font-family: "sf_display_bold"; }

@font-face {
  font-family: 'sf_display_black';
  src: url('assets/styles/base/fonts/sanfranciscodisplay-black-webfont.woff2') format('woff2'),
  url('assets/styles/base/fonts/sanfranciscodisplay-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'sf_display_bold';
  src: url('assets/styles/base/fonts/sanfranciscodisplay-bold-webfont.woff2') format('woff2'),
  url('assets/styles/base/fonts/sanfranciscodisplay-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'sf_display_heavy';
  src: url('assets/styles/base/fonts/sanfranciscodisplay-heavy-webfont.woff2') format('woff2'),
  url('assets/styles/base/fonts/sanfranciscodisplay-heavy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'sf_display_light';
  src: url('assets/styles/base/fonts/sanfranciscodisplay-light-webfont.woff2') format('woff2'),
  url('assets/styles/base/fonts/sanfranciscodisplay-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'sf_display_medium';
  src: url('assets/styles/base/fonts/sanfranciscodisplay-medium-webfont.woff2') format('woff2'),
  url('assets/styles/base/fonts/sanfranciscodisplay-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'sf_display_regular';
  src: url('assets/styles/base/fonts/sanfranciscodisplay-regular-webfont.woff2') format('woff2'),
  url('assets/styles/base/fonts/sanfranciscodisplay-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'sf_display_semibold';
  src: url('assets/styles/base/fonts/sanfranciscodisplay-semibold-webfont.woff2') format('woff2'),
  url('assets/styles/base/fonts/sanfranciscodisplay-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'sf_display_thin';
  src: url('assets/styles/base/fonts/sanfranciscodisplay-thin-webfont.woff2') format('woff2'),
  url('assets/styles/base/fonts/sanfranciscodisplay-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'sf_display_ultralight';
  src: url('assets/styles/base/fonts/sanfranciscodisplay-ultralight-webfont.woff2') format('woff2'),
  url('assets/styles/base/fonts/sanfranciscodisplay-ultralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
