button.app-button {
  background: none;
  border: 0px transparent;
  margin: 0px;
  padding: 0px;
}

button.app-button-share {
  background: none;
  border: 1px solid #fff;
  border-radius: 5px;
  font-family: "sf_display_light";
  font-size: em(12);
  color: white;
  @include respond-to(small) {
    font-size: em(22);
  }
  i {
    vertical-align: middle;
    @extend .fa;
    @extend .fa-facebook-official;
    font-size: em(26);
    margin-right: 8px;
    @include respond-to(small) {
      font-size: em(30);
    }
  }

}
