.app-footer-space {
    display: block;
    height: 52px;
    width: 100%;
}

section.footerComponent  {
  z-index: 15;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background: rgba(0,0,0,1);
  width: 100%;
  margin: 0px;
  padding: 16px;
  border-top: 3px solid white;

  >div {
    @include make-xs-column(12);
    padding: 0px;
  
    &.footerActions {
      button {
        @extend .app-button;
        @extend .btn;
        height: 22px;

        &:first-child {
          vertical-align: middle;
          font-size: em(10);
          // @extend .visible-xs-inline;
          @include respond-to(small)  { font-size: em(16); margin-top: 10px; }
          @include respond-to(medium) { font-size: em(18); }
          @include respond-to(large)  { font-size: em(18); }
        }
        &:last-child {
          @extend .pull-right;
          vertical-align: middle;
          font-size: em(14);
          font-weight: bolder;
          @include respond-to(small) { 
            font-size: em(32);
            height: auto;
            margin-bottom: 10px;
          }
        }
      }
    }

    &.footerShareResult {
      margin-bottom: 8px;
      button { 
        @extend .app-button-share;
        // @extend .visible-xs-block;
      }
    }

  }

}

  // @include respond-to(small)  {  }
  // @include respond-to(medium) {  }
  // @include respond-to(large)  {  }