section.resultComponent {
  >div {
    
    @include respond-to(medium) { margin-top: 35px; }

    &.result-content {

      @include make-xs-column(12);
      @include make-sm-column(6);

      section {
        background: rgba(0,0,0,0.7);
        @include border-radius-left(5px);
        @include border-radius-right(5px);
        margin: 0px;
        margin-bottom: 10px;
        >div {
          height: 81px;
          @include respond-to(small) { height: 110px; };
          &:first-child {
            @include make-xs-column(4);
            padding: 0px;
            img {
              width: 100%;
              height: 81px;
              @include respond-to(small) { height: 110px; };
              object-fit: cover;
              @include border-radius-left(5px);
            }
          }
          &:last-child {
            @include make-xs-column(8);
            text-align: left;
            padding: 12px;
            
            p {
              @extend .text-list;
              margin: 0px;
              &:first-child {
                @extend .text-list-title;
              }
              &:last-child {
                @extend .text-list-description;
              }
            }
            button {
              @extend .app-button;
              @extend .text-list;
              @extend .text-list-button;
              margin-top: 18px;
              text-align: left;
            }
          }
        }
      }

    }

    &.result-share {
      @extend .hidden-xs;
      @include make-sm-column(6);
      > button { 
        @extend .app-button-share;
      }

      > div {
        margin-top: 30px;
        > button {
          @extend .app-button;
          font-weight: bolder;
          text-decoration: underline;
        }
      }
    }
    
  }

}
