section.resultComponent {
  >div {
    
    // @include respond-to(medium) { margin-top: 35px; }

    &.result-content {

      @include make-xs-column(12);
      @include make-sm-column(10);
      @include make-md-column(8);
      @include make-lg-column(6);

      section {
        background: rgba(0,0,0,0.7);
        @include border-radius-left(5px);
        @include border-radius-right(5px);
        margin: 0px;
        margin-bottom: 10px;
        min-height: 150px;
        position: relative;
        > img {
          position: absolute;
          height: 100%;
          width: 110px;
          @include respond-to(small)    { width: 200px; }
          @include respond-to(medium)   { width: 200px; }
          @include respond-to(large)    { width: 200px; }
          object-fit: cover;
          @include border-radius-left(5px);
        }
        >div {
          display: inline-block;
          text-align: left;
          padding: 12px;
          @include make-xs-column(12);
          padding-left: 122px;
          @include respond-to(small)    { padding-left: 212px; }
          @include respond-to(medium)   { padding-left: 212px; }
          @include respond-to(large)    { padding-left: 212px; }
          vertical-align: top;
          p {
            @extend .text-list;
            margin: 0px;
            &:first-child {
              @extend .text-list-title;
            }
            &:last-child {
              @extend .text-list-description;
            }
          }
          button {
            @extend .app-button;
            @extend .text-list;
            @extend .text-list-button;
            margin-top: 18px;
            text-align: left;
          }
        }
      }

    }

    &.result-share {
      @extend .hidden-xs;
      @include make-sm-column(6);
      > button { 
        @extend .app-button-share;
      }

      > div {
        margin-top: 30px;
        > button {
          @extend .app-button;
          font-weight: bolder;
          text-decoration: underline;
        }
      }
    }
    
  }

}
