section.setupComponent {
  // hack para ajustar background no canto esquerdo (por alguma razão os -15px da section deixa 1px de distância da borda)
  margin-left: -16px;
  >div {
    @include make-xs-column(12);
		text-align: center;
    @include respond-to(medium) { 
      // margin-top: 35px;
    }
    
    &.setup-loading-content {
      @include make-xs-column(12);
      @include make-sm-column(10);
      @include make-md-column(8);
      @include make-lg-column(8);
      background: rgba(0,0,0,0.6);
      padding: 16px 8px 16px 16px;
      @include respond-to(small)    { padding: 16px 8px 16px 32px;  }
      @include respond-to(medium)   { padding: 32px 32px 32px 50px; }
      @include respond-to(large)    { padding: 32px 32px 32px 50px; }

      p {
        text-align: left;
        &:last-child {
          margin-top: 16px;
        }
      }

      section {
        &.setup-colors {
          >div {
            margin-top: 5px;
            @include make-xs-column(3);
            @include make-sm-column(3);
            @include make-md-column(2);
            @include make-lg-column(2);
          }
        }

        &.setup-keywords {
          margin-top: 10px;
          >div {
            margin-top: 5px;
            @include make-xs-column(10);
            @include make-xs-column-offset(1);
            @include make-sm-column(4);
            @include make-sm-column-offset(0);
            @include make-md-column(4);
            @include make-lg-column(4);
            > div {
              background: #6C6C6C !important;
              text-align: left;
              padding: 8px;
              padding-left: 8px;
              > p {
                @extend .text-bold;
                display: inline-block;
                padding: 0px;
                vertical-align: middle;
                margin: 0px;
                height: 22px;
                padding-top: 2px;
                @include respond-to(medium) { padding-top: 0px; }
              }
            }
          }
        }

        div.setup-tag {
          width: 100%;
          @include border-radius-left(5px);
          @include border-radius-right(5px);
          display: inline-block;
          > button {
            @include border-radius-right(5px);
            background: #6C6C6C;
            border: 0px #000;
            height: 100%;
            padding: 0px;
            padding-right: 2px;
            padding-top: 2px;
            height: 22px;
            
            &:hover {
              span {
                @include transition(color .25s ease);
                @include transition(transform .25s ease);
                @include transform(scale(1.5));
              }
            }
          }
        }
      }

    }
    
  }

}


		// @include make-xs-column(10);
    // @include make-xs-column-offset(1);
    // @include make-sm-column(10);
    // @include make-sm-column-offset(1);
    // @include make-md-column(10);
    // @include make-md-column-offset(1);
    // @include make-lg-column(10);
    // @include make-lg-column-offset(1);