section.titleComponent  {
  >div {
    text-align: center;
    margin-top: 20px;

    @include make-xs-column(10);
    @include make-xs-column-offset(1);
    @include make-sm-column(10);
    @include make-sm-column-offset(1);
    @include make-md-column(8);
    @include make-md-column-offset(2);
    @include make-lg-column(6);
    @include make-lg-column-offset(3);

    @include respond-to(small)  { margin-top: 60px; }
    @include respond-to(medium) { margin-top: 80px; }
    @include respond-to(large)  { margin-top: 80px; }
  }
}