body {
  padding-top: 116px;
  @include respond-to(small) {
    padding-top: 156px;
  }
  @include respond-to(medium) {
    padding-top: 196px;
  }
  @include respond-to(large) {
    padding-top: 236px;
  }
}

div.app-content {
  padding: 0px 16px;
  position: relative;
  width: 100%;
}



div.titleComponent  {
  position: fixed;
  // background: rgba(0,0,0,0.5);
  width: 100%;
  padding-top: 16px;
  height: 116px;
  @include respond-to(small)     { height: 156px; }
  @include respond-to(medium)    { height: 196px; }
  @include respond-to(large)     { height: 236px; }

  >div {  
    text-align: center;
    // margin-top: 16px;

    @include make-xs-column(10);
    @include make-xs-column-offset(1);

    @include make-sm-column(10);
    @include make-sm-column-offset(1);

    @include make-md-column(10);
    @include make-md-column-offset(1);

    @include make-lg-column(10);
    @include make-lg-column-offset(1);
  
    @include respond-to(small)  {
      padding: 16px;
    }
    @include respond-to(medium) {
      padding: 24px;
    }
    @include respond-to(large)  {
      padding: 48px;
    }

    // @include make-sm-column(12);
    // @include make-md-column(12);
    // @include make-lg-column(12);
  }
}

