div.uploadComponent  {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    z-index: 5;
	>div {
		text-align: center;
    // margin-top: 20px;
		@include make-xs-column(12);
    @include make-xs-column-offset(0);
    @include make-sm-column(10);
    @include make-sm-column-offset(1);
    @include make-md-column(10);
    @include make-md-column-offset(1);
    @include make-lg-column(10);
    @include make-lg-column-offset(1);
    @include respond-to(medium) { margin-top: 75px; }

    form {
      margin-top: 15px;
      @include respond-to(small)  { margin-top: 0px; }
      div {
        z-index: 5;
        position: relative; 
        input {
          padding: 0px;
          padding-right: 40px;
          text-align: left;
          height: 32px;
          font-size: calc(0.85vw + 0.85vh + 1vmin);
          @include respond-to(small)  { font-size: em(18); }
          @include respond-to(medium) { font-size: em(22); height: 46px; }
          @include respond-to(large)  { font-size: em(26); }
        }
        button {
          position: absolute;
          top: 0px;
          right: 0px;
          width: 44px;
          height: 44px;
          padding: 0px;
          top: -8px;
          @include respond-to(medium) { top: -0px; }
          text-align: right;
          border: 0px solid transparent;
          background: transparent;
          &:hover, &:active, .active {
            background: none;
          }

          i.glyphicon {
            color: white;
            pointer-events: none;
            font-size: em(24);
            @include respond-to(small)  { font-size: em(24); }
            @include respond-to(medium) { font-size: em(32); padding-bottom: 0px; }
            @include respond-to(large)  { font-size: em(32); }

            &.glyphicon-arrow-right {
              border: 1px solid white;
              padding: 0px 6px;
              @include border-radius(4px);
              background: rgba(255,255,255,0.15);
            }
          }
        }
      }
      p {
        @extend .setup-helper;
        background: rgba(255,0,0,0.15);
        margin-top: 10px;
      }
    }
	}

}