<section class="setupComponent">

  <div class="setup-loading-content">
    <p class="text-helper">
      Se alguma dessas cores ou palavras não se encaixam em sua busca clique no x para removê-las e depois <strong>Encontrar locais!</strong>
    </p>

    <section class="setup-colors">
      <div *ngFor="let color of colors; let i = index" [attr.data-index]="i">
          <div class="setup-tag"[style.backgroundColor]="color.hex">
              <button
              type="button"
              (click)="deleteColor(color)"
              class="pull-right">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>
          </div>
      </div>
    </section>

    <section class="setup-keywords">
      <div *ngFor="let keyword of keywords; let i = index">
          <div class="setup-tag">
              <p>{{keyword.name}}</p>
              <button type="button" (click)="deleteKeyword(i)" class="pull-right">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>
          </div>
      </div>
    </section>

    <p class="text-helper">
      Devem haver pelo menos 2 de cada ;)
    </p>

  </div>

</section>